/*///////////////////////////////Categorias///////////////////////////////////*/
.paginador{
  text-align: center;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li {
  display: inline;
}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
    background-color: #E4F1F6;
    color: black;
}
ul.pagination li a:hover:not(.active) {
  background-color: #E4F1F6;
}
ul.pagination li a {
    border-radius: 5px;
}
ul.pagination li a.active {
    border-radius: 5px;
}
.artCategoriaTituloOsc{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #173F4F;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
.artCategoriaTituloCla{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #173F4F;
  padding-top: 1%;
  padding-bottom: 1%;
}
.categoriaArticulos{
  padding-left: 2%;
  padding-bottom: 2%;
}
.contenedorGeografia{
  background-image: url(../IMG/Geografia.jpg);
  border-radius: 5px;
  opacity: 0.5;
}
.contenedorArtGeografia{
  background-image: url(../IMG/GeografiaArt.jpg);
  border-radius: 5px;
  display: none;
}
.contenedorOtros{
  background-image: url(../IMG/Otros.jpg);
  border-radius: 5px;
  opacity: 0.5;
}
.contenedorArtOtros{
  background-image: url(../IMG/OtrosArt.jpg);
  border-radius: 5px;
  display: none;
}
.contenedorarte{
  background-image: url(../IMG/arte.jpg);
  border-radius: 5px;
}
.contenedorArtArte{
  background-image: url(../IMG/arteArt.jpg);
  border-radius: 5px;
  display: none;
}
.categoriaArte{
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  color: #67AFCB;
  padding-top: 50px;
}
.contenedorhistoria{
  background-image: url(../IMG/historia.jpg);
  border-radius: 5px;
}
.contenedorArtHistoria{
  display: none;
  background-image: url(../IMG/historiaArt.jpg);
  border-radius: 5px;
}
.contenedorentretenimiento{
  background-image: url(../IMG/entretenimiento.jpg);
  border-radius: 5px;
}
.contenedorArtEntretenimiento{
  background-image: url(../IMG/entretenimientoArt.jpg);
  border-radius: 5px;
  display: none;
}
.contenedorciencia{
  background-image: url(../IMG/ciencia.png);
  border-radius: 5px;
}
.contenedorArtCiencia{
  background-image: url(../IMG/cienciaArt.png);
  border-radius: 5px;
  display: none;
}
.categoriaCiencia{
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  color: black;
  padding-top: 50px;
}
.contenedordeportes{
  background-image: url(../IMG/deportes.jpg);
  border-radius: 5px;
}
.categoriaDeportes{
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: black;
  padding-top: 50px;
}
.contenedorArtDeportes{
  background-image: url(../IMG/deportesArt.jpg);
  border-radius: 5px;
  display: none;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Inicio/////////////////////////////////////*/
body {
  min-width: 630px;
  margin: 0;
  padding: 0;
  font-family:"Raleway", sans-serif;
  line-height: 1.5em;
}
header {
  width: 100%;
  height: 200px;
  background-color: #75A8BD;
  color: inherit;
  text-align: center;
  position: relative;
}
#headerimg {
  display: block;
  height: 200px;
  width: auto;
  padding-top: 5px;
  padding-left: 10px;
}
.tituloBlog{
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: #E4F1F6;
  padding-top: 50px;
}
.subtema{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #173F4F;
  padding-top: 75px;
}
.perfilName{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #E4F1F6;
  padding-top: 3px;
}
.subtemaNav{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #E4F1F6;
}
#contenedorPrincipal {
  padding-left: 0px;
  padding-right: 240px;
  overflow: hidden;
  border-radius: 5px;
}
#contenedorPrincipal .column {
  display: inline-block;
  position: relative;
  float: left;
  padding-top: 1em;
  padding-bottom: 1001em;
  margin-bottom: -1000em;
  border-radius: 5px;
  text-align: center;
}
#center {
  padding: 10px 20px;
  width: 100%;
  background: #E4F1F6;
  border-radius: 5px;
}
#right {
  width: 180px;
  padding: 0 10px;
  margin-right:-100%;
  background: #347B98;
}
#articulosRecientes{
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #347B98;
}
.articuloTitulo{
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}
.articuloTituloD{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #173F4F;
  background-color: white;
}
.loginLe{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #092834;
  border-radius: 5px;
}
.loginLeCla{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #E4F1F6;
  border-radius: 5px;
}
.descripcionArt{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #092834;
  padding-left: 16px;
}
.parrafoArt{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: justify;
  color: black;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #67AFCB;
}
.btnLeerMas{
font-family: "Raleway", sans-serif;
background-color: #092834;
border: none;
color: white;
padding: 15px 40px;
text-align: center;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}
.btnComentar{
font-family: "Raleway", sans-serif;
background-color: #E4F1F6;
color: #092834;
padding: 10px 25px;
text-align: center;
font-size: 15px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10%;
margin-left: 41%;
font-weight: bold;
}
.btnLeerMas:hover:not(.active) {
  background-color: darkgray;
}
.btnNav{
font-family: "Raleway", sans-serif;
background-color: #092834;
border: none;
color: white;
padding: 5px 25px;
text-align: center;
display: inline-block;
font-size: 12px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btnNav:hover:not(.active) {
  background-color: darkgray;
}
.botonesArt{
  text-align: center;
  padding-right:10px;
}
.comentarios{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: right;
  color: #E4F1F6;
  padding-right: 16px;
}
.calificacion{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: right;
  color: #092834;
  padding-right: 16px;
}
#imgPrimera{
width:100%;
border-radius: 5px;
}
#imgSegunda{
width:100%;
border-radius: 5px;
}
.botonesArt{
  padding-left: 20px;
  border-radius: 5px;
}
.contenedor{
background-color: #67AFCB;
border-radius: 5px;
padding: 1% 1% 1% 1%;
}
#comentar{
background-color: #173F4F;
border-radius: 5px;
}
.areaPerfil{
  text-align: center;
}
.imgpop{
width:125px;
border-radius: 5px;
padding-top: 10px;
padding-left: 2px;
}
.textoPop{
padding-bottom: 25px;
border-radius: 5px;
text-align: center;
font-size: 15px;
color: white;
}
.comentarbar{
  text-align: center;
  font-size: 15px;
  color: white;
}
.inputComentario{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #092834;
  border-radius: 5px;
  width: 55%;
  height: 40%;
  margin-left: 20%;
}
.contenido{
padding-right: 16px;
padding-left: 16px;
border-radius: 5px;
}
.primerArt{
  background-color: #67AFCB;
  border-radius: 5px;
}
.segundoArt{
  background-color: #67AFCB;
  border-radius: 5px;
}
.pagPublicar{
  text-align: left;
  margin-left: 20%;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////Footer//////////////////////////////////////*/
#footer {
  clear: both;
  text-align: center;
  font-size: large;
  padding: 0.3em;
  background: #173F4F;
}
* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #173F4F;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////Para login y registro///////////////////////////*/
.login{
  width: 30%;
  padding-left: 30%;
  text-align: center;
}
.bodylogin{
  background-image: url("../IMG/owl.png");
}
#containerLogin{
  background-color: #E4F1F6;
  text-align: center;
  float:left;
  width: 50%;
  height: 100%;
  position: absolute;
}
#containerRegistro{
background-color: #E4F1F6;
border-radius: 15px;
width: 40%;
margin-left: 30%;
text-align: center;
margin-bottom: 5%;
padding-top: 2%;
}
#irRegistro{
  float:right;
  text-align: center;
  border-left: 15px solid black;
  width: 49%;
  height: 100%;
  position: absolute;
  left:50%;
}
#divLetra{
background-color: #E4F1F6;
font-family: "Raleway", sans-serif;
margin: 5%;
font-size: 50px;
font-weight: bold;
color: #092834;
border-radius: 5px;
}
.divLetra{
background-color: #E4F1F6;
font-family: "Raleway", sans-serif;
margin: 5%;
font-size: 50px;
font-weight: bold;
color: #092834;
border-radius: 5px;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////Para las estrellas de puntuacion///////////////////////*/
.stars {
	font-size: 0;
	display: inline-block;
}
.stars a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	color: #888;
}
.stars:hover a {
	color: rgb(39, 130, 228);
}
.stars > a:hover ~ a {
	color: #888;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////Para el menu superior///////////////////////////*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #173F4F;
}
ul.topnav li {float: left;}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li a.activo {background-color: #75A8BD;}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
/*////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////Para el perfil del usuario///////////////////////////*/
#editarPerfil{
  display: none;
}
.perfil{
  position: absolute;
  height: 600px;
  width: 25%;
  float: left;
  background-color: #347B98;
  text-align: center;
  margin-top: 2%;
  border-radius: 5px;
  margin-left: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.publicaciones{
  height: 100%;
  width: 70%;
  float: right;
  left: 30%;
  margin-top: 1%;
  position: absolute;

}
.entrada{
  margin: 1%;
  text-align: center;
  background-color: #B0C4DE;
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 2%;
}
.imagenEntrada{
  width: 30%;
  height: auto;
  margin-top: 2%;
}
.imagenUsuario{
  width: 80%;
  height: auto;
  border:5px solid #B0C4DE;
  border-radius: 5px;
}
#tituloPerfil{
  font-size:1.5vw;
  color: white;
  font-weight: bold;
}
#textoPerfil{
  font-size:1.5vw;
  color: white;
  font-variant: small-caps;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////Para informacion del texto////////////////////////////*/
.popup {
	display: block;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	max-width: 100%;
	z-index: 1;
	left: 0;
	bottom: 300%;
	opacity: 0;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
	background: white;
	padding: 10px 1em;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-box-shadow: 0 0 4px #ccc;
	box-shadow: 0 0 4px #ccc;
}
.popup:before, .popup:after {
	content: "";
	width: 0;
	height: 0;
	border: 6px solid transparent;
	position: absolute;
	top: 100%;
	left: 20px;
	margin-left: -6px;
	border-top-color: white;
	z-index: 2;
}
.popup:before {
	border-top-color: #ccc;
	margin-left: -7px;
	border-width: 7px;
	z-index: 0;
}
.has-popup {
	position: relative;
}
.has-popup:hover .popup {
	clip: rect(auto auto auto auto);
	clip: auto;
	clip: inherit;
	opacity: 1;
	bottom: 100%;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////Fuentes de google///////////////////////////////*/
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(fonts/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(fonts/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine Regular'), local('Tangerine-Regular'), url(fonts/HGfsyCL5WASpHOFnouG-RFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*////////////////////////////////////////////////////////////////////////////*/
