body {
  min-width: 630px;
}

header {
  width: 100%;
  height: 200px;
  background-color: #75A8BD;
  color: inherit;
  text-align: center;
  position: relative;
}

#headerimg {
  display: block;
  height: 200px;
  width: auto;
  padding-top: 5px;
  padding-left: 10px;
}

#tituloBlog{
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: #E4F1F6;
  padding-top: 50px;
}

.subtema{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #173F4F;
  padding-top: 75px;
}

.subtemaNav{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.li{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: left;
  color: #173F4F;
  list-style-type: circle;
  font-weight: bold;
}

#container {
  padding-left: 200px;
  padding-right: 190px;
  overflow: hidden;
}

#container .column {
  display: inline-block;
  position: relative;
  float: left;
  padding-top: 1em;
  padding-bottom: 1001em;
  margin-bottom: -1000em;
}

#center {
  padding: 10px 20px;
  width: 100%;
  background: #E4F1F6;
}

#articulosRecientes{
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: #347B98;
}

.articuloTitulo{
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}

.articuloTituloD{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #173F4F;
  background-color: white;

}
.loginLe{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #092834;
  border-radius: 5px;
}

.descripcionArt{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #092834;
  padding-left: 16px;
}

.parrafoArt{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: justify;
  color: black;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #67AFCB;
}

.btnLeerMas{
font-family: "Raleway", sans-serif;
background-color: #092834;
border: none;
color: white;
padding: 15px 40px;
text-align: center;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}

.btnComentar{
font-family: "Raleway", sans-serif;
background-color: #E4F1F6;
color: #092834;
padding: 10px 25px;
text-align: center;
font-size: 15px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10%;
margin-left: 41%;
font-weight: bold;
}

.btnNav{
font-family: "Raleway", sans-serif;
background-color: #092834;
border: none;
color: white;
padding: 5px 25px;
text-align: center;
display: inline-block;
font-size: 12px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.botonesArt{
  text-align: center;
  padding-right:10px;
}

.comentarios{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: right;
  color: #E4F1F6;
  padding-right: 16px;
}
.calificacion{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: right;
  color: #092834;
  padding-right: 16px;
}

#imgPrimera{
width:100%;
border-radius: 5px;
}

#imgSegunda{
width:100%;
border-radius: 5px;
}

.botonesArt{
  padding-left: 20px;
  border-radius: 5px;
}

.contenedor{
background-color: #67AFCB;
border-radius: 5px;
}

#comentar{
background-color: #173F4F;
border-radius: 5px;
}

#left {
  width: 180px;
  padding: 0 10px;
  right: 240px;
  margin-left: -100%;
  background: #347B98;
}

#right {
  width: 130px;
  padding: 0 10px;
  margin-right: -100%;
  background: #347B98;
}

.imgpop{
width:125px;
border-radius: 5px;
padding-top: 10px;
padding-left: 2px;
}

.textoPop{
padding-bottom: 25px;
border-radius: 5px;
text-align: center;
font-size: 15px;
color: white;
}

.comentarbar{
  text-align: center;
  font-size: 15px;
  color: white;
}

.inputComentario{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #092834;
  border-radius: 5px;
  width: 55%;
  height: 40%;
  margin-left: 20%;
}

.contenido{
padding-right: 16px;
padding-left: 16px;
border-radius: 5px;
}

.primerArt{
  background-color: #67AFCB;
  border-radius: 5px;
}

.segundoArt{
  background-color: #67AFCB;
  border-radius: 5px;
}

#footer {
  clear: both;
  text-align: center;
}

* html #footer-wrapper {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #173F4F;
}

body {
  margin: 0;
  padding: 0;
  font-family:"Raleway", sans-serif;
  line-height: 1.5em;
}

#footer {
  font-size: large;
  padding: 0.3em;
  background: #75A8BD;
}

.login{
  width: 30%;
  padding-left: 30%;
  text-align: center;
}

body{
  background-image: url(IMG/owl.png);
}

#containerLogin{
  background-color: #E4F1F6;
  border-radius: 15px;
  width: 30%;
  margin-left: 35%;
  text-align: left;
}

.stars {
	font-size: 0;
	display: inline-block;
}
.stars a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	color: #888;
}

.stars:hover a {
	color: rgb(39, 130, 228);
}

.stars > a:hover ~ a {
	color: #888;
}
